{% extends 'buttons.html' %}
{% load static %}

{% block title %}Advanced Ratings For {{ className }}{% endblock %}

{% block head%}
{{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'advancedratings.css' %}">
{% endblock %}

{% block content %}

    <!-- Will have to implement all the dynamic template fill-ins here -->


    <div class="course-info">
        <div style="font-weight: bold; font-size: x-large;">{{course.courseName}}</div>
        <div>{{ courses.courseID }}</div>
        <div>Professor: {{ courses.prof }}</div>
        <div>Section: {{ courses.courseSection }}</div>
    </div>

    <div class="advancedratings">
        <div class="row">
            <div class="column-title">
                Exam Difficulty
            </div>
            <div class="column-rating">
                {{ advRatings.examDif }}/5.0
            </div>
        </div>
        <div class="row">
            <div class="column-title">
                Homework Difficulty
            </div>
            <div class="column-rating">
                {{ advRatings.hwDif }}/5.0
            </div>
        </div>
        <div class="row">
            <div class="column-title">
                Lecture Difficulty
            </div>
            <div class="column-rating">
                {{ advRatings.lectDif }}/5.0
            </div>
        </div>
        <div class="row">
            <div class="column-title">
                Workload
            </div>
            <div class="column-rating">
                {{ advRatings.workload }}/5.0
            </div>
        </div>
        <div class="row" style="margin-top: 1vh;">
            <div class="column-title">  
                Total Difficulty
            </div>
            <div class="column-rating">
                {{ advRatings.avg }}/5.0
            </div>
        </div>

    </div>


    <p>Maybe we add user-reviews down here? lots of real estate to be used</p>

{% endblock %}

</body>
</html>
