.advancedratings
{
    padding: 10px;
    border-style: solid;
    flex-direction: row;
}
.course-info{
    padding: 10px;
}
/*
.info{
    flex: 1;
    flex-basis: calc(50% - 20px);
    margin: 10px;
} */
.row {
    display: flex;
    flex-direction: row;
}
.column-title {
    flex: 1;
}
.column-rating {
    align-items: flex-end;
}