{% extends 'buttons.html' %}
{% load static %}

{% block title %}Add Review{% endblock %}

{% block content %}

    <form action="/addReview" method = 'POST'>
        {% csrf_token %}
        <label for="coursePrefix">Choose an option:</label>
        <select id="coursePrefix" name="coursePrefix">

            <!-- Populate the select element with option elements -->
            {% for prefix in prefixes %}
                <option value="{{ prefix }}">{{ prefix }}</option>
            {% endfor %}
            <!-- Add more options as needed -->
            
        </select>
        <br>

        <label for="classNumber">Enter 4 digit class number</label>
        <input type="number" id="classNumber" name="classNumber" required> <br>
        
        
        <h3>Enter the Difficulty for the Following Aspects of the Course: {{ courseName }}</h3> <br>
        <h4>1 = easy, 5 = Difficulty (0 for didnt have it)</h4><br><br>

       
        <label for="examRating">Exam Difficulty</label>
        <input type="range" id="examRating" name="examRating" min = "0" max = "5" required><br>

        <label for="homeworkRating">Homework</label>
        <input type="range" id="homeworkRating" name="homeworkRating" min = "0" max = "5" required><br>

        <label for="lectureRating">Lecture</label>
        <input type="range" id="lectureRating" name="lectureRating" min = "0" max = "5" required><br>

        <label for="workloadRating">Workload</label>
        <input type="range" id="workloadRating" name="workloadRating" min = "0" max = "5" required><br>

        <input type="submit" value = "Review">
    </form>
</body>
{% endblock %}