{% extends 'buttons.html' %}
{% load static %}

{% block title %}Add Review{% endblock %}

{% block content %}

    <h3>Enter the Difficulty for the Following Aspects of the Course: {{ courseName }}</h3> <br>
    <h4>1 = easy, 5 = Difficulty (0 for didnt have it)</h4><br><br>
    <form action="/review" method = 'POST'>
        <label for="examRating">Exam Difficulty</label>
        <input type="range" id="examRating" name="examRating" min = "0" max = "5" required><br>

        <label for="homeworkRating">Homework</label>
        <input type="range" id="homeworkRating" name="homeworkRating" min = "0" max = "5" required><br>

        <label for="lectureRating">Lecture</label>
        <input type="range" id="lectureRating" name="lectureRating" min = "0" max = "5" required><br>

        <label for="workloadRating">Workload</label>
        <input type="range" id="workloadRating" name="workloadRating" min = "0" max = "5" required><br>

        <input type="submit" value = "Review">
    </form>
</body>
{% endblock %}