{% extends 'buttons.html' %}
{% load static %}

{% block title %}Advanced Ratings {% endblock %}
{% block head%}
{{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'advancedratings.css' %}">
{% endblock %}


{% block content %}

    <!-- Will have to implement all the dynamic template fill-ins here -->
    <div class="course-info">
        <div style="font-weight: bold; font-size: x-large;">Operating Systems</div>
        <div>COP4610</div>
        <div>Teacher: An-i Yang</div>
        <div>Section: 005</div>
    </div>

    <div class="advancedratings">
        <div class="row">
            <div class="column-title">
                Exam Difficulty
            </div>
            <div class="column-rating">
                1.3/5.0
            </div>
        </div>
        <div class="row">
            <div class="column-title">
                Homework Difficulty
            </div>
            <div class="column-rating">
                2.9/5.0
            </div>
        </div>
        <div class="row">
            <div class="column-title">
                Lecture Difficulty
            </div>
            <div class="column-rating">
                3.2/5.0
            </div>
        </div>
        <div class="row">
            <div class="column-title">
                Workload
            </div>
            <div class="column-rating">
                0.3/5.0
            </div>
        </div>
        <div class="row" style="margin-top: 1vh;">
            <div class="column-title">
                Total Difficulty
            </div>
            <div class="column-rating">
                1.9/5.0
            </div>
        </div>

    </div>
</body>

{% endblock %}