{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'buttons.css' %}">
    <title>{% block title %}My Website{% endblock %}</title>
    {% block head %}{% endblock %}

</head>

<body>
    <header>
        <div class="header">
            <div class="buttons">
                <button class="button">Friend Lookup</button>
                <button class="button">Add Course</button>
                <button class="button">Schedule</button>
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>