{% extends 'buttons.html' %}
{% load static %}

{% block title %}Schedule Page{% endblock %}
{% block head%}
{{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'schedulepage.css' %}">
{% endblock %}


{% block content %}
    
    <div class="course-row-header">
        <div class="course-column">
            Course Name
        </div>
        <div class="course-column">
            Course ID
        </div>
        <div class="course-column">
            Course Rating
        </div>
        <div class="course-column">
            See more button
        </div>
    </div>

    <div class="courses-container">
        <div class="course-row">
            <div class="course-column">
                Operating Systems
            </div>
            <div class="course-column">
                COP4610
            </div>
            <div class="course-column">
                1.2/5.0
            </div>
            <button class="course-column-button">See more</button> 
        </div>
        <div class="course-row">
            <div class="course-column">
                Data Structures II
            </div>
            <div class="course-column">
                COP4530
            </div>
            <div class="course-column">
                2.8/5.0
            </div>  
            <button class="course-column-button">See more</button> 
        </div>
    </div>
</body>

{% endblock %}